<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fahrtenbuch API</title>
  <style>
    html{
      margin: 0;
      padding: 0;
    }
    body{
      margin: 0;
      padding: 0;

      height: 100vh;
      width: 100vw;
      display: grid;
      grid-template-areas:
      "header"
      "content";
      grid-template-rows: 
      1fr 4fr;
    }
    .header{
      grid-area: "header";
      text-align: center;
      font-size: 2.5em;
      display: grid;
      background-color: aqua;
    }
    p{
      align-self: center;
    }
  </style>
</head>
<body>
  <div class="header">
    <p> Fahrtenbuch API </p>
  </div>
</body>
</html>